@import "styles.css";

.cv-p {
  font-size: 1rem;
}

#cv-top {
  padding-bottom: 100px;
  padding-top: 100px;
}

#myprofile-img {
  width: 15%;
  margin-left: 100px;
}

.skill-row-cv {
  width: 70%;
  margin: 100px auto;
  text-align: left;
}

.myprofile-img {
  padding: 20px;
  float: left;
}

.app-link {
  font-family: 'Gayathri', sans-serif;
  margin: 10px 20px;
}

.app-link:hover {
  color: #30e3cb;
}
